.slide-content {
  height: 670px;
  letter-spacing: 0.03em;
  margin-top: 50px;
}

.slide-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.demo .slide-content {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.demo .slide-content iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

.controls {
  left: auto;
  right: 0;
}

.arrow {
  border-width: 15px;
  margin: 0 5px 0 10px;
}

.prev {
  border-right-width: 25px;
}

.next {
  border-left-width: 25px;
}
